.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    padding-bottom: 12px;
}

.video-thumbnail {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.header-text {
    min-width: 0;
    flex: 1;
}

.title {
    margin: 0;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    margin: 0;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}