.main {
    overflow: auto;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    position: relative;
    scrollbar-color: var(--neutral-base-color) transparent;
}

.header-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.header {
    background-color: var(--neutral-layer-floating);
    align-items: center;
    display: flex;
    margin-bottom: .375rem;
    z-index: 1;
    top:0;
    position: sticky;
}