@namespace CaptionZen.Shared.Components.Layout

<main class="main">
    <div role="presentation" tabindex="0" style="display: flex; flex-direction: column; height: 100%;">
        <div style="flex: 1 1 0%; overflow: hidden; height: 100%;">
            <div style="position: relative; height: 100%;">
                <div class="header-content-container">
                    <div class="header">
                        @if (Header is not null)
                        {
                            @Header
                        }
                    </div>
                    @if (Content is not null)
                    {
                        @Content
                    }
                </div>
            </div>
        </div>
        <div style="width:100%">
            @if (Footer is not null)
            {
                @Footer
            }
        </div>
    </div>
</main>

@code {
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
}